main {
  .banner {
    height: 500px;
    position: relative;

    .autoplay {
      height: 100%;

      &-item {
        width: 100%;
        height: 500px;
        background: {
          repeat: no-repeat;
          size: cover;
          position: center center;
        }
      }

      .autoplay-item {
        .container {
          h1 {
            margin-top: 70px;
          }

          .box {
            width: 250px;
            border-radius: 10px;
            display: flex;
            padding: 20px 15px;
            align-items: center;
            background-color: rgba(255, 255, 255, 20%);
            margin-top: 90px;

            .box-text {
              width: 80%;

              .medium-text {
                margin: 0;
                color: white;
              }
            }

            .arrow {
              padding-left: 23px;
            }
          }
        }
      }

      .slick-dots {
        @extend .container;
        height: 50px;
        left: 50% !important;
        transform: translateX(-50%);
        top: 40%;
        text-align: unset;

        li {
          margin: 0 + li {
            margin-left: 9.29px;
          }
        }

        button {
          padding: 0;

          &::before {
            width: 12px;
            height: 12px;
            color: transparent;
            border: 3px solid white;
            border-radius: 50%;
          }
        }
      }
    }
  }

  .who-we-are {
    padding-top: 10px;

    .container {
      background-color: #fff;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 60%;
      width: 100%;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 8px;
      padding: {
        left: 40px;
        right: 40px;
        top: 49px;
        bottom: 49px;
      }

      @media (max-width: 1199px) {
        position: initial;
        padding: 20px 20px;
        top: 0;
        left: 0;
        transform: translateX(0);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }

      .xsmall-text {
        margin-top: 34px;
        text-align: end;
      }
    }
  }

  .picture-and-text {
    margin-top: 300px;

    @media (max-width: 1199px) {
      margin-top: 50px;
    }

    .container {
      width: 100%;
    }

    .disclaimer {
      margin-top: 50px;
    }

    .picture {
      @media (max-width: 1191px) {
        // padding-top: 140px;
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    .btn {
      background-color: $secondary-color;
      border: $secondary-color;
      --bs-btn-padding-y: 0.6rem;
      --bs-btn-padding-x: 2rem;
      border-radius: 5px;
      display: flex;
      align-items: end;

      &:active {
        background-color: transparent;
        border: 1px solid $secondary-color;

        a {
          color: $secondary-color;
        }
      }

      &:hover {
        background-color: transparent;
        border: 1px solid $secondary-color;

        a {
          color: $secondary-color;
        }
      }

      a {
        color: #fff;
        font-weight: 700;
      }
    }

    .btn-lg {
      --bs-btn-font-size: 0.6rem;
    }
  }

  .products {
    padding-top: 106px;

    @media (max-width: 1199px) {
      padding-top: 50px;
    }

    .container {

      .row {
        .link {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          transition: 0.5s;
          
          @media (max-width: 1199px) {
            justify-content: left;
            padding: {
              top: 20px;
              bottom: 20px;
            }
          }
        }

        .see-more {
          color: $secondary-color;
          font-size: 20px;
          line-height: 28px;
          font-weight: 700;
        }

        .orange-btn {
          margin-left: 16px;
        }
      }
    }
  }

  .cards {
    .slick-prev,
    .slick-next {
      &::before {
        color: $secondary-color;
        opacity: 1;

        @media (max-width: 1199px) {
          display: none;
        }
      }
    }

    .card-item {
      background-color: $primary-color;
      width: auto;
      padding: 30px 27px;
      border-radius: 6px;
      position: relative;

      &::before {
        content: "";
        width: 8px;
        height: 16px;
        background-color: $secondary-color;
        position: absolute;
        top: 20%;
        left: 0;
      }

      + .card-item {
        margin-left: 36px;
      }

      .medium-text {
        color: white;
      }

      .text {
        color: white;
        padding-top: 12px;
      }

      small {
        display: flex;
        align-items: center;
        justify-content: end;

        &:hover {
          a {
            color: white;
          }
        }

        a {
          transition: 0.5s;
          color: $secondary-color;
        }

        &::after {
          content: "";
          width: 11px;
          height: 8px;
          margin-left: 6px;
          background: {
            image: url(../../images/small-arrow.png);
            size: cover;
            repeat: no-repeat;
            position: center center;
          }
        }
      }
    }
  }
}
