* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  --bs-gutter-x: 0;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  @media (max-width: 1365px) {
    max-width: 90%;
  }

  @media (max-width: 1199px) {
    max-width: 80%;
  }
}

.accessibility-item {
  font-family: "Itau Text Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.nav-item-menu {
  color: #000;
  font-family: "Itau Text Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

h1 {
  color: white;
  font-size: 40px;
  font-weight: 700;
  line-height: 55.34px;
  font-family: "Itau Text Pro";

  @media (max-width: 1199px) {
    font-size: 30px;
    line-height: 44px;
  }
}

h2 {
  color: $primary-color;
  font-size: 43px;
  font-weight: 700;
  

  @media (max-width: 1199px) {
  }
}

h3 {
  color: $primary-color;
  font-family: "Itau Text Pro";
  font-size: 43px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 3px;

  @media (max-width: 1199px) {
    font-size: 38px;
  }
}

h4 {
  color: black;
  font-size: 40px;
  font-weight: 300;
  line-height: 33.5px;
  font-family: "Itau Text Pro";

  @media (max-width: 1199px) {
    line-height: 50px;
  }
}

.xsmall-text {
  color: $primary-color;
  font-size: 12px;
  font-weight: 400;
  line-height: 15.6px;

  @media (max-width: 1199px) {
  }
}

.small-text {
  color: $primary-color;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  font-family: "Itau Text Pro";

  @media (max-width: 1199px) {
    line-height: 20px;
  }
}

.text {
  color: $primary-color;
  font-size: 16px;
  font-weight: 400;
  line-height: 25.6px;
  font-family: "Itau Text Pro";

  @media (max-width: 1199px) {
  }
}

.medium-text {
  color: $primary-color;
  font-weight: 400;
  line-height: 28px;
  font-size: 20px;
  font-family: "Itau Text Pro";

  @media (max-width: 1199px) {
  }
}

.orange-title {
  font-family: "Itau Display Pro";
  display: flex;
  color: $secondary-color;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.88px;

  @media (max-width: 1199px) {
  }
}

hr {
  width: 91px;
  border: 1px solid $secondary-color;
}

.see-more {
  font-family: "Itau Text Pro";
  font-size: 12px;
  font-weight:  700;
}

.title-hr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 211px;
}
